USE [master]
GO
/****** Object:  Database [QLSanpham]    Script Date: 6/20/2020 9:45:37 AM ******/
CREATE DATABASE [QLSanpham] ON  PRIMARY 
( NAME = N'QLSanpham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLSanpham.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSanpham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLSanpham_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSanpham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSanpham]
GO
/****** Object:  User [baonguyen]    Script Date: 6/20/2020 9:45:37 AM ******/
CREATE USER [baonguyen] FOR LOGIN [baonguyen] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'baonguyen'
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 6/20/2020 9:45:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[Maloai] [char](2) NOT NULL,
	[Tenloai] [nvarchar](20) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: 6/20/2020 9:45:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sanpham](
	[MaSP] [char](4) NOT NULL,
	[TenSP] [nvarchar](20) NULL,
	[Dongia] [bigint] NULL,
	[Maloai] [char](2) NULL,
 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LoaiSP] ([Maloai], [Tenloai]) VALUES (N'BK', N'Bánh kẹo')
INSERT [dbo].[LoaiSP] ([Maloai], [Tenloai]) VALUES (N'GK', N'Giải khát')
INSERT [dbo].[LoaiSP] ([Maloai], [Tenloai]) VALUES (N'MP', N'Mỹ phẩm')
INSERT [dbo].[Sanpham] ([MaSP], [TenSP], [Dongia], [Maloai]) VALUES (N'SP01', N'Bánh mì', 10000, N'BK')
INSERT [dbo].[Sanpham] ([MaSP], [TenSP], [Dongia], [Maloai]) VALUES (N'SP02', N'Bánh bao', 15000, N'BK')
INSERT [dbo].[Sanpham] ([MaSP], [TenSP], [Dongia], [Maloai]) VALUES (N'SP03', N'Coca Cola', 12000, N'GK')
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_LoaiSP] FOREIGN KEY([Maloai])
REFERENCES [dbo].[LoaiSP] ([Maloai])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_Sanpham_LoaiSP]
GO
USE [master]
GO
